.filter {
    font-size: 14px;
    line-height: .8;
}

.filter-option {
    display: block;
}

.mobile-filter {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

select {
    height: 30px;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .filter {
        display: none;
    }

    .mobile-filter {
        display: flex;
    }
}