.search-bar {
    height: 40px;
    padding-top: 7px;
    text-align: center;
}

.search-bar * {
    font-size: 18px;
}

input {
    border-radius: 4px;
}

.search-button {
    display: block;
    margin: 5px auto 0 auto;
}