.search-results {
    background-color: coral;
    border: 1px solid black;
    height: max-content;
    width: 600px;
    padding: 0 .5em;
    margin-top: 5px;
    border-radius: 4px;
}

.filter-text {
    font-weight: 600;
    font-size: 12px;
    margin-left: 20px;
}

.number {
    color: white
}

p {
    margin-bottom: 0;
}

p > a {
    font-weight: 700;
    color: black;
}

p > em {
    font-weight: 700;
}

hr {
    box-shadow: none;
    border: 1px solid black;
}