.search-results {
    background-image: linear-gradient(to top left, yellow, cyan);
    width: 600px;
    height: 600px;
    padding: 0 .5em 5px .5em;
    margin-top: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    max-width: 95%;
    min-height: 0;
    box-shadow: 2px 2px 5px white;
}

.posts {
    overflow-y: scroll;
    height: 100%;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, red, yellow);
}

.filter-text {
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    padding: 2px;
}

.number {
    font-weight: 800;
}

.results-label {
    margin-bottom: 0;
    padding: 2px;
    font-weight: 600;
}

.results-label  > em {
    font-weight: 700;
}

hr {
    box-shadow: none;
    border: 1px solid black;
    margin: 5px 0 0 0;
}

@media only screen and (max-width: 1000px) {
    .search-results {
        position: absolute;
        z-index: 0;
        font-size: 18px;
    }

    .filter-text {
        font-size: 16px;
    }
}

@media only screen and (max-height: 770px) {
    .search-results {
        height: 570px;
    }
}

@media only screen and (max-height: 720px) {
    .search-results {
        height: 520px;
    }
}

@media only screen and (max-height: 670px) {
    .search-results {
        height: 470px;
    }
}

@media only screen and (max-height: 620px) {
    .search-results {
        height: 420px;
    }
}